@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-headers: var(--headers);
  --font-body: var(--body);
  --font-proxima: var(--proxima);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-extra-muted: var(--extra-muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-line-pattern: var(--line-pattern);
  --radius-xs: calc(var(--radius) - 0.225rem);
  --radius-sm: calc(var(--radius) - 0.2rem);
  --radius-md: calc(var(--radius) - 0.1rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.1rem);
  --skew-xs: 0.25rem;
  --skew-sm: 0.5rem;
  --skew-md: 1rem;
  --skew-lg: 1.5rem;
  --skew-nav: 0deg;
  --skew-btn:18.5deg;
  --skew-22-5: 0.9375rem;
}

:root {
  --headers: 'Termina', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body: 'Acumin Pro', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --proxima: 'Proxima Nova Condensed', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius: 0.25rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --extra-muted: oklch(from var(--muted) calc(l + 0.015) c h);
  --accent: oklch(0.145 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.25rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --line-pattern: oklch(0.953 0.000 0.000);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.895 0 0);
  --extra-muted: oklch(from var(--muted) calc(l - 0.084) c h);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --line-pattern: oklch(0.187 0.000 0.000);
}

.w7f-current {
  --background: oklch(0.16 0.07 261);
  --foreground: oklch(1 0 0);
  --card: oklch(0.21 0.07 265.22);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.21 0.07 265.22);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.8868 0.183555 166.2076);
  --primary-foreground: oklch(0.1614 0.0705 261.16);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.26 0.08 261.12);
  --muted-foreground: oklch(0.8581 0.0188 258.36);
  --extra-muted: oklch(0.21 0.07 265.22);
  --accent: oklch(0.8868 0.183555 166.2076);
  --accent-foreground: oklch(0.1614 0.0705 261.16);
  --destructive: oklch(0.626 0.2232 12.79);
  --border: oklch(0.26 0.08 261.12);
  --input: oklch(0.26 0.08 261.12);
  --ring: oklch(0.8868 0.183555 166.2076);
  --chart-1: oklch(0.8868 0.183555 166.2076);
  --chart-2: oklch(0.8976 0.144 163.15);
  --chart-3: oklch(0.626 0.2232 12.79);
  --chart-4: oklch(0.26 0.08 261.12);
  --chart-5: oklch(0.21 0.07 265.22);
}

.w7f-current-hex {
  --background: #000a2b;
  --foreground: #ffffff;
  --card: #081538;
  --card-foreground: #ffffff;
  --popover: #081538;
  --popover-foreground: #ffffff;
  --primary: #00ffbe;
  --primary-foreground: #000a2b;
  --secondary: #ffffff;
  --secondary-foreground: #ffffff;
  --muted: #051d4a;
  --muted-foreground: #c9d1dd;
  --extra-muted: #081538;
  --accent: #00ffbe;
  --accent-foreground: #000a2b;
  --destructive: #ef3061;
  --border: #051d4a;
  --input: #051d4a;
  --ring: #00ffbe;
  --chart-1: #00ffbe;
  --chart-2: #75fbc2;
  --chart-3: #ef3061;
  --chart-4: #051d4a;
  --chart-5: #081538;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

}

@utility clip-skew-xs {
  clip-path: polygon(var(--skew-xs) 0%, 100% 0%, calc(100% - var(--skew-xs)) 100%, 0% 100%);
}

@utility clip-skew-sm {
  clip-path: polygon(var(--skew-sm) 0%, 100% 0%, calc(100% - var(--skew-sm)) 100%, 0% 100%);
}

@utility clip-skew-md {
  clip-path: polygon(var(--skew-md) 0%, 100% 0%, calc(100% - var(--skew-md)) 100%, 0% 100%);
}

@utility clip-skew-lg {
  clip-path: polygon(var(--skew-lg) 0%, 100% 0%, calc(100% - var(--skew-lg)) 100%, 0% 100%);
}

@utility clip-skew-22-5 {
  clip-path: polygon(var(--skew-22-5) 0%, 100% 0%, calc(100% - var(--skew-22-5)) 100%, 0% 100%);
}

@utility clip-watercolor-mask {
  clip-path: url(#WatercolorMask);
}

/* Text Stroke Utilities */
@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-width: --value([*]);
  -webkit-text-stroke-color: --value(--color-*, [color]);
  -webkit-text-stroke-color: --modifier(--color-*, [color]);
}

@utility text-shadow-xl {
  text-shadow: 0px 2px 2px rgb(0 0 0 / 0.5), 0px 2px 8px rgb(0 0 0 / 0.5), 0px 2px 12px rgb(0 0 0 / 0.3);
}

@utility text-shadow-2xl {
  text-shadow: 0px 2px 4px rgb(0 0 0 / 0.1), 0px 8px 8px rgb(0 0 0 / 0.1), 0px 16px 24px rgb(0 0 0 / 0.15);
}

@utility writing-mode-vrl {
  writing-mode: vertical-rl;
}

@utility writing-mode-vlr {
  writing-mode: vertical-lr;
}

@utility bg-gold-gradient {
  background: linear-gradient(to bottom, #FFD700 0%, #FFED4E 50%, #D4AF37 100%);
}

@utility bg-silver-gradient {
  background: linear-gradient(to bottom, #E8E8E8 0%, #FFFFFF 50%, #C0C0C0 100%);
}

@utility bg-bronze-gradient {
  background: linear-gradient(to bottom, #CD7F32 0%, #E8A87C 50%, #A0522D 100%);
}

.bg-lines-pattern {
  background-image: url('/images/decorative/lines-seamless.svg');
  background-repeat: repeat;
  background-size: 0.5rem 0.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--foreground);
  -webkit-box-shadow: 0 0 0px 1000px #1b1b1c00 inset;
  transition: background-color 5000s ease-in-out 0s;
};


